<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>class room</title>
    <th:block th:include="/include/head"></th:block>
</head>
<body>
<th:block th:include="/include/header"></th:block>
<h1>Welcome Student</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
<th:block th:include="/include/footer"></th:block>
</body>
</html>