<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <th:block th:include="/include/head"></th:block>
</head>
<body>
<th:block th:include="/include/header"></th:block>
<h1 class="text-center mb-4">Students</h1>
<table class="table">
    <button style="border: none; float: left; margin-left: 10px; margin-bottom: 10px;" class="btn btn-primary">
        <a style="text-decoration: none; color: white;" href="/student/save">+ Create</a>
    </button>
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Class Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:if="${student.classRoom != null}" th:text="${student.classRoom.className}"></td>
        <td th:unless="${student.classRoom != null}">No class assigned</td>
        <td>
            <a th:href="@{/student/edit/{id}(id=${student.id})}" class="btn btn-primary btn-sm">Edit</a>
            <a th:href="@{/student/delete/{id}(id=${student.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this student?');">Delete</a>
        </td>
    </tr>

    </tbody>
</table>
<th:block th:include="/include/footer"></th:block>
</body>
</html>