<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Room</title>
    <th:block th:include="/include/head"></th:block>
</head>
<body>
<th:block th:include="/include/header"></th:block>
<h1 class="text-center mb-4">Class Room</h1>

<div th:if="${message != null}" class="alert alert-info" role="alert">
    <span th:text="${message}"></span>
</div>

<div th:if="${error != null}" class="alert alert-danger" role="alert">
    <span th:text="${error}"></span>
</div>

<table class="table">
    <button style="border: none; float: left; margin-left: 10px; margin-bottom: 10px;" class="btn btn-primary">
        <a style="text-decoration: none; color: white;" href="/classroom/save">+ Create</a>
    </button>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Number</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="classRoom : ${classRoomPage.content}">
        <td th:text="${classRoom.idClass}"></td>
        <td th:text="${classRoom.className}"></td>
        <td th:text="${classRoom.numberMember}"></td>
        <td>
            <a th:href="@{/classroom/edit/{id}(id=${classRoom.idClass})}" class="btn btn-primary btn-sm">Edit</a>
            <a th:href="@{/classroom/delete/{id}(id=${classRoom.idClass})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this class?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" th:classappend="${classRoomPage.first} ? 'disabled'">
            <a class="page-link" th:href="@{/classroom/list(page=${classRoomPage.number - 1}, size=${classRoomPage.size})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(0, classRoomPage.totalPages - 1)}" th:classappend="${i == classRoomPage.number} ? 'active'">
            <a class="page-link" th:href="@{/classroom/list(page=${i}, size=${classRoomPage.size})}" th:text="${i + 1}"></a>
        </li>
        <li class="page-item" th:classappend="${classRoomPage.last} ? 'disabled'">
            <a class="page-link" th:href="@{/classroom/list(page=${classRoomPage.number + 1}, size=${classRoomPage.size})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<th:block th:include="/include/footer"></th:block>
</body>
</html>
